<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Resumes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1><centre><b>ResumeScreener</b></centre></h1>
    <div class="container">
        <h1>Upload Resumes</h1>
        <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
            <div>
                <label for="keywords">Enter Keywords (comma-separated):</label>
                <input type="text" name="keywords" id="keywords" required>
            </div>
            <div id="fileInputs">
                <div class="fileInput">
                    <label for="file1">Choose files:</label>
                    <input type="file" name="file[]" id="file1" multiple required>
                </div>
            </div>
            <div>
                <button type="button" onclick="addFileInput()">Add More Files</button>
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
    <script>
        let fileInputCount = 1;

        function addFileInput() {
            fileInputCount++;
            const newFileInput = document.createElement('div');
            newFileInput.classList.add('fileInput');
            newFileInput.innerHTML = `<label for="file${fileInputCount}">Choose files:</label>
                                      <input type="file" name="file[]" id="file${fileInputCount}" multiple>`;
            document.getElementById('fileInputs').appendChild(newFileInput);
        }
    </script>
</body>
</html>
